html {
    background-color: #eeeeee;
    font-family: 'Arimo', sans-serif;
}
li{
	font-size: 130%;
	left: 10px;
}
ul{
	font-size: 130%;
	left: 10px;
}
.right{
  right: 10px;
}

.fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.fixed-left-top {
  position: fixed;
  top: 50px;
  left: 10px;
  z-index: 9;
}
.full {
  position: fixed;
  z-index: -2;
}
.midbot {
  position: fixed;
  bottom: 20px;
  left: 50%;
}

hr {
    height: 2px;
    background-color:#777;
    width: 100%;
    margin-top: -20px;
}
body { 
	padding-top: 60px; 	
    background-color: #eeeeee;
}

table, tr, td , th{
    margin: auto;
    border-radius: 2px;
    border: 2px solid #999;
}



table.GameZone{
	border-collapse: collapse;
	background-color: #fff;

    margin: auto;
	
    border-radius: 2px;
    border: 2px solid #999;
}

td.GameZone{
	font-weight:bolder;
	vertical-align:center;
	text-align:center;
    width: 40px;
    height: 40px;
}

@media only screen and (min-width: 570px) and (min-width: 570px){
	td.GameZone{
		width: 50px;
		height: 50px;
	}
}
@media only screen and (min-width: 640px) and (min-width: 640px){
	td.GameZone{
		width: 4em;
		height: 4em;
	}
}
@media only screen and (min-width: 760px) and (min-width: 760px){
	td.GameZone{
		width: 65px;
		height: 65px;
	}
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}